name: CI

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  continuous-integration:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up .Net build env 
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '8.0.x'
          include-prerelease: true

      - name: Determine affected projects
        id: affected
        uses: leonardochaia/dotnet-affected-action@v1
        with:
          from: 'origin/main'
          to: '${{ github.sha }}'

      - name: Print affected projects
        run: echo 'Affected projects:' '${{ steps.affected.outputs.projects }}'

      - name: Restore dependencies 
        run: dotnet restore

      - name: Build and Publish affected projects
        run: |
          for project in ${{ steps.affected.outputs.projects }}
          do
            dotnet build -c Release --no-restore $project
            dotnet publish -c release -o ./out $project
          done
